<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="clientId" value="BilboBaggins"/>
		<add key="clientSecret" value="bD!t8%cOPm3%dmNaT!zd5#GHA5q17&amp;ie"/>
		<add key="baseURI" value="https://trimlight.ledhue.com/trimlight"/>
	</appSettings>
</configuration>
